.controls-modal {
  max-width: 800px;
  margin: 0 auto;
}

.controls-modal h2 {
  margin-bottom: 10px;
  color: black;
}

.controls-modal table {
  width: 100%;
  border-collapse: collapse;
}

.controls-modal th,
.controls-modal td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.controls-modal th {
  background-color: #f2f2f2;
}

.controls-modal button {
  padding: 6px 10px;
  font-size: 14px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.controls-modal button:hover {
  cursor: pointer;
  background-color: var(--secondary-color) !important;
  border: 2px solid var(--accent-color);
  color: var(--text-color);
}

.toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 34px;
}

/* Hide default checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

button.disabled-button {
  background-color: #ccc;
}

.disabled-button:hover {
  background-color: #ccc !important; /* Same color as disabled button */
  cursor: not-allowed; /* Change cursor to 'not-allowed' when hovering */
  border: none !important;
  color: var(--primary-color) !important;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
