:root {
  /* Primary colors */
  --primary-color: #000000; /* Black */
  --secondary-color: #14213D; /* Navy Blue */
  --accent-color: #FCA311; /* Orange */
  
  /* Additional colors */
  --additional-color: #E5E5E5; /* Light Gray */
  --additional-color2: #FFFFFF; /* White */

  /* Background colors */
  --background-color: #f8f9fa; /* Light Gray */
  --content-background-color: #ffffff; /* White */

  /* Text colors */
  --text-color: #333333; /* Dark Gray */
  --text-secondary-color: #6c757d; /* Gray */

  /* Additional colors */
  --warning-color: #ffc107; /* Yellow */
  --error-color: #dc3545; /* Red */
  --success-color: #28a745; /* Green */
  --info-color: #17a2b8; /* Teal */
  --accent-dark-color: #0056b3; /* Dark Blue */
}
